#wbar{
    height: 200px;
    background-image: url("social.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}
#utente{
position: relative;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}
#utente img{
    border: 3px solid white;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    object-fit: cover;
}
#follower{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:20px 0px;
}
#follower .count{
    display: flex;
    flex-direction: column;
    align-items: center;
     font-weight:600;
}    
#follower .count div{
    font-weight: 500;
    color: rgb(70, 70, 70)
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

article{
    margin: 20px 0px 60px 0px;
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
    font-family: 'Jost', sans-serif;
}
.toppost img{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 20px;
}
.toppost{
    height: 70px;
    display: flex;
    align-items: center;
}
.username,.name{
    margin: 0px 10px;
}
.username{
    font-weight: bold;
}
.like,.media{
    display: flex;
    align-items: center;
}
.media{
    flex-direction: column;
}
.media div{
    background-color: #fafafa;
    border-radius: 10px;
    border:1px solid lightgray;
    font-size: 26px;
    padding: 5px;
    margin:20px ;
    
}
.media img{
    max-height: 450px;
    max-width: 560px;
}
.like img{
    height: 45px;
    width: 45px;
    margin: 0px 30px;
    cursor: pointer;
}
.like{
    height: 70px;
    font-size: 20px;
}
.data{
    margin-left:20px;
    color:grey;
}
.descrizione{
    border-top: 1px solid lightgray;
    margin: 0px 20px;
    
}
.contatore{
    cursor: pointer;
}

.dati{
    display: flex;
    align-items: center;
   margin-bottom: 15px;
   width: 300px;
}
.dati img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
}
#modal-view .box{
    padding: 20px;
    
}
.titolo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
@media (max-width : 600px){

    article,body{
        width: 100vw;
    }
    .media img{
        
        max-width: 100vw;
    }


    }